contourpy==1.1.1
cycler==0.12.1
fonttools==4.57.0
importlib-resources==6.4.5
kiwisolver==1.4.7
matplotlib==3.7.5
mysql-connector-python==9.0.0
numpy==1.24.4
packaging==26.2
pandas==2.0.3
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2026.2
six==1.17.0
tzdata==2026.2
zipp==3.20.2
